.items{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 10rem);
    &>.spinner-border{
        margin-top: 1rem;
    }
    &>section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        &>h1{
            color: $color-cuaternario;
            font-weight: bold;
            font-size: 4rem;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $color-secundario;
            font-family:$fuente-principal ;
            text-align: center;
        }
        &>input{
            width: 100%;
            height: 50px;
            border: 2px solid $color-secundario;
            background-color: $color-terciario;
            border-radius: 5px;
            padding: 1rem;
            color: $color-secundario;
            font-weight: bold;
            &::placeholder{
                color: $color-secundario;
                font-weight: bold;
            }
        }
        &>article{
            width: 90%;
            background-color: $color-principal;
            padding: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &>.imagenItem{
                border-radius: 50%;
                border: 3px solid $color-secundario;
                display: flex;
                justify-content: center;
                height: 100px;
                width: 100px;
                align-items: center;
                &>img{
                    width: 100%;
                    height: 100%;
                }
            }
            &>.descripcion{
                max-width: 50%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: space-between;
                align-items: center;
                &>h1{
                    margin: 0;
                    color: white;
                    font-family: $fuente-principal;
                    font-weight: bold;
                }
                &>p{
                    font-weight: bold;
                    margin: 0;
                }
                &>*{
                    width: 100%;
                }
            }
            &>.atributos{
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;
                &>h1{
                    margin: 0;
                    color: white;
                    font-family: $fuente-principal;
                    font-weight: bold;
                }
                &>ul{
                   margin: 0;
                    padding: 0;
                    &>li{
                        margin-left: 1rem;
                        font-weight: bold;
                    }
                }
                &>*{
                    width: 100%;
                }
            }
            @include mediaQuery(mitad){
                
                flex-direction: column;
                border-radius: 5px;
                &>.descripcion{
                    width: 80%;
                    max-width: none;
                }
                text-align: center;
                & li{
                    list-style: none;
                }
            }
            
        }
    }
}